<%- include('../partials/header') %>

<table id="list">
    <thead>
        <tr>
            <th>Recipe</th>
        </tr>
    </thead>
    <tr>
        <% recipes.forEach(function(m){ %>
            <td><%= m.recipe %></td>
            <td><a href="/recipes/<%= m.id %>">DETAILS</a></td>
        </tr>
        <% }) %>
    </tr>
</table>
<%- include('../partials/footer') %>