<%- include('../partials/header') %>

<form id="new-form" action="/recipes" method="POST">
    <label>Recipe Name:</label>
    <input type="text" name="recipe">
    <label>Ingredients:</label>
    <input type="text" name="ingredients">
    <input type="submit" value="Add Recipe">

</form>



<%- include('../partials/footer') %>